{% extends "ProyectoPrincipalBundle:Default:layout_portada.html.twig" %}

{% block body %}
	{{ parent() }}
{% endblock %}

{% block texto %}
	<section>
	    <ul id="gallery">
	        <li id="fullPreview"></li>
	        
	        <li>
	            <a href="{{ asset('images/least/full/1.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/1.jpg') }}" src="{{ asset('images/least/full/1.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>

	        <li>
	            <a href="{{ asset('images/least/full/2.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/2.jpg') }}" src="{{ asset('images/least/full/2.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>

	        <li>
	            <a href="{{ asset('images/least/full/3.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/3.jpg') }}" src="{{ asset('images/least/full/3.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>

	        <li>
	            <a href="{{ asset('images/least/full/4.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/4.jpg') }}" src="{{ asset('images/least/full/4.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>	

	        <li>
	            <a href="{{ asset('images/least/full/5.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/5.jpg') }}" src="{{ asset('images/least/full/5.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>        	        

	        <li>
	            <a href="{{ asset('images/least/full/6.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/6.jpg') }}" src="{{ asset('images/least/full/6.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>	

	        <li>
	            <a href="{{ asset('images/least/full/7.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/7.jpg') }}" src="{{ asset('images/least/full/7.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>

	        <li>
	            <a href="{{ asset('images/least/full/8.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/8.jpg') }}" src="{{ asset('images/least/full/8.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>	
	        <li>
	            <a href="{{ asset('images/least/full/9.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/9.jpg') }}" src="{{ asset('images/least/full/9.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>

{#	        <li>
	            <a href="{{ asset('images/least/full/10.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/10.jpg') }}" src="{{ asset('images/least/full/10.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>	   
	        <li>
	            <a href="{{ asset('images/least/full/11.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/11.jpg') }}" src="{{ asset('images/least/full/11.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>
	        <li>
	            <a href="{{ asset('images/least/full/12.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/12.jpg') }}" src="{{ asset('images/least/full/12.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>	
	        <li>
	            <a href="{{ asset('images/least/full/13.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/13.jpg') }}" src="{{ asset('images/least/full/13.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>		
	        <li>
	            <a href="{{ asset('images/least/full/14.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/14.jpg') }}" src="{{ asset('images/least/full/14.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>	
	        <li>
	            <a href="{{ asset('images/least/full/15.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/15.jpg') }}" src="{{ asset('images/least/full/15.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>	
	        <li>
	            <a href="{{ asset('images/least/full/16.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/16.jpg') }}" src="{{ asset('images/least/full/16.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>
	        <li>
	            <a href="{{ asset('images/least/full/17.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/17.jpg') }}" src="{{ asset('images/least/full/17.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>	
	        <li>
	            <a href="{{ asset('images/least/full/18.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/18.jpg') }}" src="{{ asset('images/least/full/18.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li>	
	        <li>
	            <a href="{{ asset('images/least/full/19.jpg') }}"></a>
	            <img data-original="{{ asset('images/least/full/19.jpg') }}" src="{{ asset('images/least/full/19.jpg') }}" width="240" height="150" alt="Ocean" />
	            
	            <div class="overLayer"></div>
	            <div class="infoLayer">
	                <ul>
	                    <li>
	                        <h2>
	                            Ocean
	                        </h2>
	                    </li>
	                    <li>
	                        <p>
	                            View Picture
	                        </p>
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="projectInfo">
	                <strong>
	                    Day, Month, Year:
	                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
	            </div>
	        </li> #}	
	       	    </ul>
	</section>
{% endblock %}




